* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

/* Barre de navigation plus compacte avec hauteur réduite */
header {
  background-color: #333;
  color: #fff;
  padding: 5px 10px; /* Réduction du padding vertical */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-logo img {
  max-width: 100px; /* Diminution de la taille du logo */
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 10px; /* Réduction de l'espacement entre les liens */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px; /* Réduction du padding des liens */
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}

#hero {
  background: url("../image/Image_garage.jpg") no-repeat center center/cover;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

#hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #ffffff;
}

#hero .btn {
  background-color: #ff9800;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#hero .btn:hover {
  background-color: #e68900;
}

section {
  padding: 60px 20px;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #333;
}

p {
  font-size: 1.1em;
  margin-bottom: 20px;
  color: #ff9800;
}

#services {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  flex: 1 1 calc(33% - 40px);
  max-width: calc(33% - 40px);
}

.service-item h3 {
  font-size: 1.8em;
  margin-bottom: 15px;
  color: #ff9800;
}

.service-item p {
  font-size: 1em;
  color: #555;
}

#vehicles {
  background-color: #f4f4f4;
  padding: 60px 20px;
}
#vehicles h2 {
  color:#333;
}
.vehicle-item {
  display: inline-block;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: calc(30% - 20px);
  text-align: left;
}

.vehicle-item img {
  max-width: 100%;
  border-radius: 8px 8px 0 0;
}

.vehicle-item h3 {
  font-size: 1.5em;
  margin: 15px;
  color: #333;
}

.vehicle-item p {
  font-size: 1em;
  margin: 15px;
  color: #555;
}

#contact {
  background-color: #333;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

#contact h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #ff9800;
}

#contact p {
  font-size: 1.2em;
}

footer {
  background-color: #333;
  color: #bbb;
  padding: 20px 0;
  text-align: center;
}

footer p {
  font-size: 0.9em;
}

/* Nouvelle section pour Entretien et Réparation de véhicules */
.garage-services {
  padding: 50px 0;
  text-align: center;
}

.garage-services .services-header h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.garage-services .services-header p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
  line-height: 1.5;
}

.garage-services .btn-services {
  background-color: #ff9800;
  padding: 15px 30px;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.garage-services .btn-services:hover {
  background-color: #e68900;
}

.services-gallery {
  margin-top: 50px;
}

.services-gallery h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
}

.services-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 22%;
  margin-bottom: 20px;
  text-align: center;
}

.service-card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: 500px;
  object-fit: cover;
}

.service-card h3 {
  font-size: 1.2rem;
  margin: 15px 0;
  color: #333;
}

/* Responsivité */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }

  #services,
  #vehicles {
    flex-direction: column;
    align-items: center;
  }

  .service-item,
  .vehicle-item {
    max-width: 90%;
  }
}
